<div class="sticky_top columns">
  <div class="column flex_center">
    <input id="src" type="file" (change)="displaySelectedImage(inputElement)" #inputElement/>

    <br>

    <app-auto-scale [width]="300" [height]="200"
    >
      <div class="holding_parent"
           [style.filter]="cssFilterString$|async" #holdingElement>
        <div class="absolute"
             [style.opacity.%]="optionsState.opacity"
             [style]="optionsState.useCustomCssAboveImage ? optionsState.customCssAboveImage : null"
             [style.mask-image]="optionsState.useMask ? 'url('+imagePath+')' : null"
             [style.-webkit-mask-image]="optionsState.useMask ? 'url('+imagePath+')' : null">

        </div>

        <img #targetImage [src]="imagePath"/>

        <div class="absolute"
             style="z-index: -1;"
             [style]="optionsState.useCustomCssBelowImage ? optionsState.customCssBelowImage : null">

        </div>

      </div>
    </app-auto-scale>
  </div>

  <div class="column flex_center">
    <h3>Created Image Preview</h3>
        <app-auto-scale [width]="300" [height]="200">

      <canvas #canvasElement class="zoom_out"
              [width]="targetImage.width"
              [height]="targetImage.height"></canvas>
        </app-auto-scale>
    <button mat-raised-button color="accent"
            (click)="downloadToImage(canvasElement)">
      download
    </button>
  </div>

</div>

<div class="columns">
  <div class="column">

    <ng-container *ngIf="cssFilterArray$| async as filterArray">
      <div *ngFor="let cssFilterEntry of filterArray; trackBy: trackByFilter"
      >
        <mat-checkbox [(ngModel)]="cssFilterEntry.enabled"
                      (change)="updateList()">
          {{cssFilterEntry.type}}
        </mat-checkbox>

        <br>

        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input type="text" matInput
                 [(ngModel)]="cssFilterEntry.value"
                 (change)="updateList()">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Order</mat-label>
          <input type="number" matInput
                 [(ngModel)]="cssFilterEntry.order"
                 (change)="updateList()">
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <div class="column flex_rows">
    <h3>Custom CSS Above the Image</h3>

    <mat-checkbox [(ngModel)]="optionsState.useMask" (change)="updateOtherOptions()">
      Use the source image as mask
    </mat-checkbox>
    <mat-form-field appearance="outline">
      <mat-label>Opacity</mat-label>
      <input type="number" matInput [max]="100" [min]="0"
             (change)="updateOtherOptions()"
             [(ngModel)]="optionsState.opacity">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="optionsState.useCustomCssAboveImage"
                  (change)="updateOtherOptions()">
      Use custom CSS above the image
    </mat-checkbox>
    <mat-form-field appearance="outline">
      <mat-label>Custom CSS above the image</mat-label>
      <textarea matInput style="min-height: 6rem"
                (change)="updateOtherOptions()"
                [(ngModel)]="optionsState.customCssAboveImage">

    </textarea>
    </mat-form-field>


    <h3>Custom CSS Below the Image</h3>


    <mat-checkbox [(ngModel)]="optionsState.useCustomCssBelowImage"
                  (change)="updateOtherOptions()">
      Use custom CSS below the image
    </mat-checkbox>
    <mat-form-field appearance="outline">
      <mat-label>Custom CSS below the image</mat-label>
      <textarea matInput style="min-height: 6rem"
                (change)="updateOtherOptions()"
                [(ngModel)]="optionsState.customCssBelowImage">

    </textarea>
    </mat-form-field>
  </div>
</div>

